<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% stylesheet_link_tag 'style.css' %>
    <title>Olá, mundo</title>
</head>
<body>
    <header>teste</header>
    <div>
    <h1 class="textos">Olá, mundo</h1>
    </div>
</body>
</html>
