<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% stylesheet_link_tag 'style.css' %>
    <title>Olá, mundo</title>
</head>
<body>
    <div class=cabecalho>
    <h1 class="textos">Olá, mundo</h1>
    <h1 class="texto_ruby"><%= "a #{'vanderlucia'.reverse} é a melhor do mundo"%></h1>
    <p class="Data"><%= return_date %></p>
    </div>

    <!--Criando nossos helpers-->
    <ul>
        <li>
        <a href="/usuarios">usuarios</a>
        <li>
        <%= link_to('Cadastro', "/usuarios") %>
        </li>
        </li>
        <!-- carregando imagens para o ruby -->
    </ul>
    <% image_tag("https://www.pngegg.com/pt/png-sjpes", width: 25, height: 25)%>
    <%# <p><%= usuarios.customer_name %>
</body>
</html>
