<h1>Editing enderecousuario</h1>

<%= render "form", enderecousuario: @enderecousuario %>

<br>

<div>
  <%= link_to "Show this enderecousuario", @enderecousuario %> |
  <%= link_to "Back to enderecousuarios", enderecousuarios_path %>
</div>
