<div id="<%= dom_id registro_doaco %>">
  <p>
    <strong>Donationid:</strong>
    <%= registro_doaco.donationID %>
  </p>

  <p>
    <strong>Customerid:</strong>
    <%= registro_doaco.customerID %>
  </p>

  <p>
    <strong>Donation date:</strong>
    <%= registro_doaco.donation_date %>
  </p>

</div>
