<h1>Editing registro doaco</h1>

<%= render "form", registro_doaco: @registro_doaco %>

<br>

<div>
  <%= link_to "Show this registro doaco", @registro_doaco %> |
  <%= link_to "Back to registro doacos", registro_doacos_path %>
</div>
