.textos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 30px;
    width: 200px;
    float: left;
    background-color: rgb(241, 236, 185);
}
.cabecalho{
    background-color: rgb(241, 236, 185);
    padding: 10px;
    border: 1px;
    border-color: black;
    border-style: none;
    padding-top: 20px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

body{
    background-color: rgb(240, 237, 208);
}
.texto_ruby{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: right;
    width: 600px;
}
.Data{
    display: inline-block;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    width: 100px;
}